.format-input{
  height: 70px;
}

.container-form{
  //display: flex;
  justify-content: top;
  align-items: center;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-adcionar{
  width: 150px;
}
